<h1>Add A New Director</h1>

<form action="http://localhost:3000/director/add">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="dob">Date of Birth:</label>
    <input id="dob" type="text" name="dob">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="image_url">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input id="bio" type="text" name="bio">
  </div>
  <div>
    <button>Add Director</button>
  </div>
</form>
